@model HW13.Models.CalculatorModel

@{
    ViewBag.Title = "Calculator";
    Layout = "_Layout";
}

<div class="container p-4 shadow">
    <div class="text-center">
        <h3 class="card-title text-dark">Калькулятор</h3>
    </div>
    <form method="post" asp-action="Calculator">
        <div class="form-group">
            <div class="rounded mb-3 shadow">
                <input type="text" placeholder="Введите выражение..."
                       class="form-control" name="expression">
            </div>
            <div class="input-group rounded mb-3 shadow">
                <div class="input-group-prepend">
                    <button class="btn-light rounded-left border-0" type="submit">Вычислить</button>
                </div>
                <span id="result" class="form-control">@Model?.Result</span>
            </div>
        </div>
    </form>
</div>